.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include desktop-only() {
    gap: 20px;
  }
}

.socials__link {
  --social-icon-width: 12px;
  --social-icon-color: #{$color-white};
  --social-icon-opacity: 1;

  display: grid;
  place-content: center;
  background-color: $color-brand;
  border-radius: 50%;
  width: 26px;
  aspect-ratio: 1 / 1;

  @include not-mobile() {
    --social-icon-width: 16px;

    width: 36px;
  }

  &:hover {
    --social-icon-opacity: 0.7;
  }

  &:focus-visible {
    --social-icon-color: #{$color-brand};
    --social-icon-opacity: 1;

    background-color: $color-white;
    outline: 0;
  }

  &:active {
    --social-icon-color: #{$color-white};
    --social-icon-opacity: 1;

    background-color: $color-brand-active;
  }

  &--vk {
    --social-icon-url: url("/__spritemap#sprite-vk-view");
  }

  &--ok {
    --social-icon-url: url("/__spritemap#sprite-ok-view");
  }

  &--reddit {
    --social-icon-url: url("/__spritemap#sprite-reddit-view");
  }

  &::before {
    content: "";
    width: var(--social-icon-width);
    aspect-ratio: 1 / 1;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: var(--social-icon-color);
    mask-image: var(--social-icon-url);
    opacity: var(--social-icon-opacity);
  }


}
