// Цвета
$color-white: #ffffff;
$color-text-primary: #484848;
$color-brand: #316dc2;
$color-brand-active: #275699;
$color-dark-overlay: rgba(13, 29, 51, 0.4);
$color-beige: #f0efe9;

// Шрифты
$font-primary: "Manrope", "Arial", sans-serif;

// Размеры вьюпортов
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
$container-padding-mobile: 15px;
$container-padding-tablet: 45px;
$container-padding-desktop: 100px;
